$bg: #000;
$orange: #ff9501;
$grey: #a6a6a6;
$white: #fff;

.calc {
   margin: 10px auto;
   width: 300px;
   border-radius: 20px;
   background: $bg;
   color: $white;
   padding: 20px;
   box-shadow: 4px 4px 4px $grey;
   font-size: 50px;
}

.buttons {
   display: grid;
   grid-template-areas:
      "ac ac ac division"
      "seven eigth nine multiply"
      "four five six minus"
      "one two three plus"
      "zero zero dot equal";
   grid-gap: 7px;
   justify-items: center;
}

.ac {
   grid-column: span 3;
}

.calc {
   &-screen {
      height: 125px;
      padding: 10px;
      display: grid;
      justify-items: end;
      align-items: end;
      margin-bottom: 20px;
      &p {
         text-align: right;
         font-size: 10px;
         margin: 0;
      }
   }
}

.btn {
   width: 60px;
   background: #333;
   border-radius: 50%;
   text-align: center;
   line-height: 60px;
   font-size: 24px;
   cursor: pointer;
   &:hover {
      filter: brightness(150%);
   }
   &:active {
      filter: brightness(80%);
   }
}

.bg-grey {
   background: $grey;
}

.bg-orange {
   background: $orange;
}

.zero {
   grid-area: zero;
   width: 100%;
   border-radius: 30px;
}
